:root {
  --clr-orange-lg: hsl(31, 77%, 52%);
  --clr-cyan: hsl(184, 100%, 22%);
  --clr-cyan-dark: hsl(179, 100%, 13%);
  --white: hsla(0, 0%, 100%, 0.75);
  --grey: hsl(0, 0%, 95%);
  --font-01: "Lexend Deca", sans-serif;
  --font-02: "Big Shoulders Display", cursive;
}
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-size: 15px;
  font-family: var(--font-01);
  font-weight: 700;
}
body {
  background-color: var(--grey);
}
.card {
  max-width: 80%;
  margin: 40px auto;
  color: var(--white);
  border-radius: 10px;
  overflow: auto;
}

.card h1 {
  color: var(--grey);
  font-size: 2rem;
  font-family: var(--font-01);
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: 700;
}
.card .btn {
  padding: 10px 30px;
  border-radius: 50px;
  border: none;
  font-family: var(--font-01);
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: var(--grey);
  font-weight: 700;
}
.sedan {
  background-color: var(--clr-orange-lg);
  padding: 40px;
}
.sedan .btn {
  color: var(--clr-orange-lg);
}
.suv {
  background-color: var(--clr-cyan);
  padding: 40px;
}
.suv .btn {
  color: var(--clr-cyan);
}
.luxury {
  background-color: var(--clr-cyan-dark);
  padding: 40px;
}
.luxury .btn {
  color: var(--clr-cyan-dark);
}
@media screen and (min-width: 720px) {
  .card {
    display: grid;
    grid-template-columns: repeat(3, auto);
  }
}
